<main class="row row-cols-1 row-cols-md-2 cmain container-fluid justify-content-around p-0">

    <!-- TABLA -->

    <div class="row col-md-8 p-0 border-box border border-primary mb-1">
        <div class="cont6 p-1">
            <p class="text-center text-light">Conversor de Divisas</p>
        </div>
        <table class="table col-12 text-center">
            <thead>
              <tr>
                <th scope="col">LOG</th>
                <th scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th scope="col">Email</th>
                <th scope="col">Tasa</th>
                <!-- <th scope="col">Opcion</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <tr *ngFor="let d of Divisa" >
                  <!-- <th scope="row">1</th> -->
                  <td> {{d._id}} </td>
                  <td> {{d.monedaOrigen}} <br> {{d.cantidadOrigen}} </td>
                  <td> {{d.monedaDestino}} <br> {{d.cantidadDestino}} </td>
                  <td> {{d.emailCliente}} </td>
                  <td> {{d.tasaConversion}} </td>
                  <!-- <td> 
                      <button type="button" class="btn btn-danger me-2" >Elimnar</button>
                      <button type="button" class="btn btn-warning" >Modificar </button>
                  </td> -->
              </tr>
                
            </tbody>
        </table>
    </div>

    <div class="col-md-4 p-1 pt-0">
        <!-- FORMULARIO -->
        <div class="cont6 mb-1">
            <p class="text-center text-light ">Conversor de Divisas</p>
        </div>
        <form class="form-cont text-light p-1">


            <div class="mb-3 ">
              <label for="cantidad" class="form-label">Cantidad</label>
              <input required type="number" class="form-control text-end" id="cantidad" placeholder="Cantidad"required >
            </div>
            <!-- [(ngModel)]="DivisaForm.cantidadOrigen" -->
            <div class="mb-3">
              <label for="divisa" class="form-label">De</label>
              <select required class="form-select" id="divisa" [(ngModel)]="DivisaForm.monedaOrigen">
                
                  <!-- <option *ngFor="let tipo of Divisa" >{{tipo.monedaOrigen}}</option> -->
                
                <option selected  value="USD">USD</option>
                <option value="BTC">BTC</option>
                <option value="ARG">Pesos Argentinos</option>
              </select>
            </div>

            <div class="mb-3 ">
                <label for="cambio" class="form-label">De</label>
                <select required class="form-select mb-2 " id="cambio" >
                  <option >Convertir A:</option>
                  <option value="USD">USD Dólares EEUU</option>
                  <option value="BTC">BTC</option>
                  <option selected value="ARG">ARS Pesos Argentinos</option>
                </select>
                <input required type="number" class="form-control text-end" id="cambio" aria-describedby="emailHelp" >
            </div>
              <button type="submit" class="btn btn-warning w-100">Convertir  <i class="bi bi-arrow-right"></i></button>
            </form>

    </div>


</main>
